@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Open+Sans:wght@300;400;700&display=swap');

$font-main: "Open Sans", san-serif;
$font-title: "Oswald", $font-main;

$color-text: #ddd;
$color-heading: #fff;
$color-accent: #fff;
$color-bg: #111;